@charset "UTF-8";

h1 {
    background-color: #d3d3d3;
    height: 300px;
    width: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: #708090;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    /*padding = espaçamento*/
}

a {
    border-width: 10px;
    border-style: groove;
    /*dashed groove double solid*/
    padding-left: 20px;
    border-color: #ff0000;
}