@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap'); /*Passion One*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap'); /*Sriracha*/

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font-passion: 'Passion One', Verdana, sans-serif;
    --font-poesia: 'Sriracha', cursive, sans-serif;
    --font-default: Verdana, Arial, sans-serif;

    --black: #000;
    --white: #fff;
}

body {
    min-height: 100vh;
    background-color: var(--white);
}

header {
    background-color: var(--black);
    padding: 60px;
    margin-bottom: 100px;
    color: var(--white);
    text-align: center;
}

header > h1 {
    font-family: var(--font-passion);
    font-size: 11.4em;
    font-weight: 600;
}

.auta-letra {
    font-size: 1.2em;
}

header > p {
    font-family: var(--font-default);
    font-size: 1.3em;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    text-decoration: underline;
}

main {
    font-family: var(--font-poesia);
    font-size: 3.65em;
    line-height: 2em;
}

p.p-section {
    padding-left: 50px;
}

section#img1 {
    background-image: url(../imgs/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem {
    background-color: #333333;
    color: white;
    box-shadow: inset 6px 6px 13px 0px #00000079;
    background-size: cover;
    background-attachment: fixed;
}

p#p-img01 {
    background-color: #000000a9;
    width: 27.5%;
    margin-top: 7px;
    color: var(--white);
}

footer {
    background-color: var(--black);
    padding: 3px;
    margin-top: 20px;
}

footer > p {
    color: var(--white);
    text-align: center;
    font-size: 25px;
    font-family: var(--font-default);
}