@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        font-size: 0.9em;
    }

    div.container {
        flex-flow: column wrap;
        align-content: center;
    }

    div.item {
        align-self: center;
        width: 85%;
        padding: -4.5px;
    }
}