@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 480px) {
    header, header > nav {
        flex-flow: column nowrap;
    }

    h1#title {
        flex-basis: 50px;
    }

    nav > a {
        width: 90vw;
    }
}