@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000;
    padding: 10px;
}

thead, tfoot {
    background-color: #4b4b4b;
    color: #fff;
}

tbody > tr:nth-child(odd) {
    background-color: #d3d3d3;
    /*
        odd = impar ou 2n-1
        even = par ou 2n
    */
}

tbody > tr:nth-child(even) {
    background-color: #fff;
}
.num {
    text-align: right;
}

caption {
    background-color: #5a5a5a;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    color: #fff;
}