@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 300px;
    height: 300px;
    border-collapse: collapse;
    /*collapse = junto*/
}

td {
    border: 1px solid #000;
    padding: 7px;
    text-align: center; /*alinhamento horizontal*/
    vertical-align: middle; /*alinhamento vertical*/
}

.numero {
    text-align: right;
}