@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #d3d3d3;
}

header {
    background-color: #888888;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #555555;
    text-align: center;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: #646464;
    transition: all 0.36s;
}

main {
    width: 90vw;
    background-color: #fff;
    margin: auto;
    padding: 10px;
    border-radius: 9px;
    margin-top: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 22px;
}

i#menu-burger {
    background-color: #4e4e4e;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: block;
}

i#menu-burger:hover {
    background-color: #fff;
    color: #4e4e4e;
    cursor: pointer;
    transition-duration: all 0.36s;
}